:root{
    --yellow: #FFC600;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
h2{
    font-size: 80px;
    color: slategrey
}
h1{
    color: dimgray
}
.welcome{
    font-size: 100px;
    margin-left: 20px;
    margin-bottom: 0;
}
.hello{
    font-size: 120px;
    margin-left: 20px;
    margin-top: 0;
}
.jigsaw{
    position: absolute;
    left: 100%;
    transform: translate(-100%,20%)
}
.landing{
    display: flex;
    flex-direction: row
}

h3{
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 1200%)
}
/* Create a sticky/fixed navbar */
#navbar {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 0px; /* Large padding which will shrink on scroll (using JS) */
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 98.8%;
    top: 0; /* At the top */
    z-index: 99;
  }
  
  /* Style the navbar links */
#navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo */
#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}

/* Links on mouse-over */
#navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link */
#navbar a.active {
  background-color: dodgerblue;
  color: white;
}

/* Display some links to the right */
#navbar-right {
  float: right;
}

/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
  .landing{
      flex-direction: column
  }
  .jigsaw{
      position: absolute;
      top: 45%;
      left: 100%;
  }
  .welcome{
      font-size: 80px;
      position: absolute;
      top : 25%;
  }
  .hello{
      font-size: 80px;
      position: absolute;
      top : 43%;
  }
  .github{
      position: absolute;
      top : 100%;
  }
}