*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #335061;
    font-family: 'Asap'
}
#logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* animation: fill 2s ease forwards 3s; */
}
#logo path:nth-child(2){
    stroke-dasharray: 7885.1171875px;
    stroke-dashoffset: 7885.1171875px;
    animation: line-anim 15s ease-in forwards 0.2s;
}
#logo2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* animation: fill 2s ease forwards 3s; */
}
.container img {
    /* height: auto; */
    width: 0px;
    -webkit-animation: floatBubble 2.5s normal ease-out forwards;
    animation: floatBubble .9s  normal ease-in-out forwards 2.7s;
    /* animation: git 2s ease-in 2s; */
}
#git{
    position: absolute;
    top: 20%;
    left: 45%;
    transform: translate(-50%);
    opacity: 0;
    transition: transform .2s;
}
#git:hover{
    transform: scale(1.5) translate(-30%);
    animation-duration: 3s;
}
#linkedin{
    position: absolute;
    top: 20%;
    left: 55%;
    transform: translate(-50%);
    opacity: 0;
    transition: transform .2s;
}
#linkedin:hover{
    transform: scale(1.5) translate(-30%);
    animation-duration: 3s;
}

#jonathan{
    transform: translate(18%);
    border-radius: 50%;
}
#bio{
    color: white;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-size-adjust: inherit;
    font-size: 150%;
}

.about{
    position: absolute;
    top: 80vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space;
}
.about div{
    align-self: center;
}
.photo{
    flex: 1;
}
.desc{
    flex: 2;
    padding: 20px;
}
@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}
@-webkit-keyframes floatBubble {
    0% {
        opacity: 0;
        top:12px;
        width: 7.5%;
    }
    100% {
        opacity: 1;
        width: 7.5%;
        top: 15px;
    }
}
@keyframes floatBubble {
    0% {
        opacity: 0;
        top:7.5px;
        width: 5%;
    }
    100% {
        opacity: 1;
        width: 5%;
        top: 17.5px;
    }
}

@media screen {
    #logo{
        width: 80%;
    }
    #logo2{
        width: 34%;
    }
    #about{
        font-size: 250%;
        font-size: 3.5vw;
    }
    #jonathan{
        width: 25vw;
    }
}
@media screen and (max-width:450px){

}
@media screen and (min-width:451px) and (max-width:799px){
}