body, html{
    height: 100%;
    margin: 0;
    color: white;
    font-family: 'Asap', sans-serif;
}
a{
    color: white;
    text-decoration: none;
}
body{
    background: url('images/bg.svg') no-repeat ;
    background-position-x: -1px;
    background-size: 110%;
    padding-bottom: 200px;
    background-color: white;
    /* background-color: blanchedalmond; */
    /* background-color: cornsilk; */
    /* background-color: bisque */
    /* background-color: lavender */
}
#hc{
    position: absolute;
    width:15%;
    top: 10%;
}
#ybc{
    position: absolute;
    top: 22vh;
    right: 0;
    z-index: 1;
    width: 20vw;
}
#gbc{
    position: absolute;
    top: 27vh;
    right: 7%;
    z-index: 1;
    width: 19vw;
}
#mac{
    position: absolute;
    top: 174vh;
    left: 10%;
    width: 30vw;
    z-index: 1;
}
#sun{
    position: absolute;
    top: 124vh;
    right: 9%;
    width: 74vw;
}
nav ul{
    list-style-type: none;
    float: right;
}
nav ul li{
    float: left;
}
nav ul li a{
    color: black;
}
#logo{
    font-size: 4vw;
    position: absolute;
    top: 15px;
    left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    text-align: center;
    width: 60%;
    margin: 15vh auto;
}
.skills{
    position: absolute;
    left: 45%;
    top: 145vh;
    transform: translate(-50%);
    font-size: 4vw;
}
h2{
    font-size: 4em;
}

@media screen {
    .container {
        font-size: 1.5vw;
        top: 1vh;
    }
    nav{
        padding: 1vw;
    }
    nav ul li a{
        font-size: 2vw;
        padding: 0 2.7vw;
    }
    #mac{
        position: absolute;
        top: 184vh;
    }
    #sun{
        position: absolute;
        top: 134vh;
    }
}

@media screen and (max-width:450px){
    nav ul{
        position: absolute;
        top: -10px;
        right: 0%
    }
    .container{
        margin: 7vh auto;
    }
    .skills{
        top: 66vh;
    }
    nav ul li a{
        font-size: 2vw;
        padding: 0 2.4vw;
    }
    #mac{
        position: absolute;
        top: 79vh;
    }
    #sun{
        position: absolute;
        top: 64vh;
    }
}
@media screen and (min-width:451px) and (max-width:799px){
    /* nav ul li a{
        font-size: 2vw;
    } */
    .skills{
        position: absolute;
        top: 66vh;
    }
    nav ul{
        position: absolute;
        top: 0px;
        right: 0%
    }
    #mac{
        position: absolute;
        top: 104vh;
    }
    #sun{
        position: absolute;
        top: 74vh;
    }
}
@media screen and (min-width:800px){
    nav ul li a{
        font-size: 2vw;
    }
    nav ul{
        position: absolute;
        top: 20px;
        right: 0%
    }
}