body{
    background: #5483ca;
    font-family: 'Nunito';
    color: #fff;
}
h1{
    font-size: 64px;
    letter-spacing: 2px;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 10px;
}
h2{
    font-size: 24px;
    text-align: center;
}
.materials h2{
    color: #555;
    font-size: 44px;
    letter-spacing: 2px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
    padding: 20px;
}
.materials{
    background: #fff;
    max-width: 960px;
    margin: 30px auto;
    padding:  20px 20px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1)
}
ul{
    list-style-type: none;
    padding: 0;
}

li{
    padding: 30px;
    background: #f6f6f6;
    font-size: 20px;
    color: #555;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    border-radius: 5px;
    /* height: 46px; */
}

li:nth-child(even){
    padding: 20px;
    background: #f2f2f2;
}
li:hover{
    background-color: rgb(133, 133, 133);
    transition: .5s;
    color: #e6e6e6;
}

li span{
    display: block;
}

li span:nth-child(2){
    font-size: 16px;
    margin-top: 6px;
    color: #999;
}

/* li div{
    position: absolute;
    top: 0;
    right: 0px;
    background: rgba(255,255,255,0.6);
    width: 40px;
    text-align: center;
    padding: 10px 0;
    font-weight:  bold;
    cursor:  pointer;
} */